// ******** Global ******** //
*{
    font-family: Roboto;
}

h1{
    font-family: Shrikhand;
    font-size: 1.875rem;
    font-weight: 400;
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
}

h3, p{
    font-size: 1.125rem;
}

// ***************** Cas Particulier ***************** //

::placeholder {
    font-size: 16px;
    font-weight: 500;
}

.btn{
    font-size: 1rem;
}

.footer{
    &__title{
        color: $txt-light;
        font-family: Shrikhand;
        font-size: 1.125rem;
        font-weight: 400;
    }

    & ul, li{
        font-family: Roboto;
        color: $txt-light;
        font-size: 1rem;
    }
}

// ******* Page Accueil ******* //

.infoGroup__title{
    @media (min-width: 1024px) {
        font-size: 2.5rem;       
    }
}

.fonctionnement{
    &__table-number{
        font-size: 0.875rem;
    }

    &__table td{
        font-weight: bold;
    }
}

.restaurants{
    &__article{
        &-cardContent p{
            font-size: 1.063rem;
        }
    
        &-cardContent h3{
            font-weight: bold;
        }
    
        &-badge{
            font-size: 0.875rem;
            font-weight: 700;
        }
    }
}

// ******* Page Restaurants ******* //

.menu{
    &__title{
        font-family: Shrikhand;
        font-size: 28px;
        font-weight: 400;
    }
    
    &__category-title{
        font-size: 1rem;
        font-weight: 300;
        text-transform: uppercase;              
    }
    
    &__item{
        
        &-plateCard h4{
            font-size: 1.125rem;
            font-weight: bold;
        }

        &-plateCard p, &-plateCardPrice{
            font-size: 0.938rem;
        }   

        &-plateCardPrice{
            color: $txt-price;
            font-weight: bold;
        }
    }   
}