// ******** Global ******** //
h1{
    font-family: Shrikhand;
    font-size: 1.875rem;
    font-weight: 400;
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
}

h3, p{
    font-size: 1.125rem;
}

// ******** Particulier ******** //

::placeholder {
    font-size: 16px;
    font-weight: 500;
}

.btn{
    font-size: 1rem;
}

.fonctionnement{
    &__table-numero{
        font-size: 0.875rem;
    }

    &__table td{
        font-weight: bold;
    }
}

.restaurantsCards{
    &__article-cardContent p{
        font-size: 1.063rem;
    }

    &__article-cardContent h3{
        font-weight: bold;
    }

    &__article-image p{
        font-size: 0.875rem;
        font-weight: bold;
    }
}

.footer{

    &__title{
        color: $txt-light;
        font-family: Shrikhand;
        font-size: 1.125rem;
        font-weight: 400;
    }

    & ul, li{
        color: $txt-light;
        font-size: 1rem;
    }
}