//********** couleurs **********//

// Main
$background-main : #F6F6F6;
$background-secondary : #EAEAEA;
$background-dark : #353535;
$background-light : white;

// Components
$components-background-main : #9356DC;
$components-background-secondary : #99E2D0;

// Text
$txt-custom : #008766;
$txt-border : #99E2D0;
$txt-search-input : #353535;
$txt-price : #353535;
$txt-light : #FFFFFF;
$txt-dark : #000000;

// Gradiants 

$components-gradient-light: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%),
                            linear-gradient(352deg, #9356DC -11%, #FF79DA 123%);
                            
$components-gradient-dark: linear-gradient(352deg, #9356DC -11%, #FF79DA 123%);



//********** Utils Position Dimension **********//

