.badgeNew{
    position: relative;
}

.badgeNew::before{
    content: "Nouveau";
    padding: 8px 12px;
    border-radius: 2px;
    color: darken($secondary-item-background,  40%);
    background: $secondary-item-background;
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
}