.icon-vgradient {
    fill: none;
}

input[type="checkbox"]{
    appearance: none;
    visibility: hidden;
    display: none;
}

label input:checked ~ svg path{
    stroke: none;
    fill: url(#Heart-gradient);
}
