/********************************************** Heart Button ************************************************/
/*********************************************************************************************************/
.heartIcon{
    vertical-align: top;

    &__size{
        font-size: 1.5rem;
    }

    &__full{
        color: transparent;

        &::before{
            background-clip: text;
            -webkit-background-clip: text;
            background-image: $heart-gradient;
            opacity: 0;
            transition: opacity 300ms;
        }

        &:hover::before{
            opacity: 1;
        }

    }

}

