.footer{
    @extend %flex-column;
    align-items: unset;
    width: 100%;
    gap: 16px;
    padding: 22px 25px;
    background-color: $background-dark;

    @media (min-width: 1025px) {
        flex-direction: row-reverse;
        padding: 55px 25px 30px 25px;
        justify-content: unset;
    }
    
    &__title{
        @media (min-width: 1025px) {
            padding-right: 40px;
            padding-left: 70px;
        }
    }
    
    & ul{
        @extend %flex-column;
        align-items: unset;
        gap: 7px;
        
        @media (min-width: 1025px) {
            flex-direction: row;
        }
    }

    & li{
        @media (min-width: 1025px) {
            padding-right: 6px;
            padding-left: 6px;
        }
    }

    &__icon1{
        margin-right: 10px;
    }
    
    &__icon2{
        margin-right: 5px;
    }
}

/***** Footer Restaurants Menu *****/ 
.footerMenu{
    position: relative;
    top: 220px;

    @media (min-width: 1025px) {
        top: 320px;
    }

}

