.header{
    @extend %flex-column;
    width: 100%;

    &__titre{
        width: 100%;
        padding: 14px 89px 13px 89px;
        text-align: center;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        z-index: 2;   
    }
        
    &__form {
        @extend %flex-row;
        width: 100%;
        padding: 15px 0;
        background-color: $background-secondary;
    }
        
    &__form input{
        border: none;
        background-color: $background-secondary;
    }
}
    
::placeholder {
    color: $txt-search-input;
    text-align: center;
}
    
input:focus{
    outline:none;
}