.header{
    @extend %flex-column;
    width: 100%;

    &__title{
        width: 100%;
        padding: 14px 89px;
        text-align: center;
        background-color: $background-light;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        z-index: 2;
        
        @media (min-width: 1024px) {
            padding: 30px 0;
        }
    }
        
    &__form {
        @extend %flex-row;
        width: 100%;
        padding: 15px 0;
        background-color: $background-secondary;
    }
        
    &__form input{
        border: none;
        background-color: $background-secondary;
    }
}
    
::placeholder {
    color: $txt-search-input;
    text-align: center;
}
    
input:focus{
    outline:none;
}

.headerMenu{
    @extend %flex-row;
    justify-content: flex-start;
    padding: 14px 17px; 

    @media (min-width: 1024px) {
        padding: 30px 17px;
    }

    &__title{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

}
