.footer ul, .footer, .header, .menuRestaurant__components-plateCardDescription, .menuRestaurant__components, .menuRestaurant, .fonctionnement__table tbody, .fonctionnement, .infoGroup, .pageContainer, .restaurants__article-cardContentTxt, .restaurants__article, .restaurants__Cards, .restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerMenu, .header__form, .menuRestaurant__components-SelectBtn, .menuRestaurant__components-plateCardContent, .menuRestaurant__components-plateCard, .menuRestaurant__top, .fonctionnement__table td, .fonctionnement__table tr, .restaurants__article-cardContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*********** personnal reset *************/
a {
  text-decoration: none;
  color: inherit;
}

*, ::before, ::after {
  box-sizing: border-box;
  font-family: Roboto;
}

h1 {
  font-family: Shrikhand;
  font-size: 1.875rem;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3, p {
  font-size: 1.125rem;
}

::placeholder {
  font-size: 16px;
  font-weight: 500;
}

.btn {
  font-size: 1rem;
}

.footer__title {
  color: #FFFFFF;
  font-family: Shrikhand;
  font-size: 1.125rem;
  font-weight: 400;
}
.footer ul, .footer li {
  color: #FFFFFF;
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .infoGroup__title {
    font-size: 2.5rem;
  }
}

.fonctionnement__table-number {
  font-size: 0.875rem;
}
.fonctionnement__table td {
  font-weight: bold;
}

.restaurants__article-cardContent p {
  font-size: 1.063rem;
}
.restaurants__article-cardContent h3 {
  font-weight: bold;
}
.restaurants__article-badge {
  font-size: 0.875rem;
  font-weight: 700;
}

.menuRestaurant__title {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
}
.menuRestaurant__components-title {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
.menuRestaurant__components-plateCard h4 {
  font-size: 1.125rem;
  font-weight: bold;
}
.menuRestaurant__components-plateCard p, .menuRestaurant__components-plateCardPrice {
  font-size: 0.938rem;
}
.menuRestaurant__components-plateCardPrice {
  color: #353535;
  font-weight: bold;
}

/*************************** anything reusable such as buttons, navbars, cards etc. ***************************/
.btn {
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 25px;
  padding: 16px 18px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(352deg, #9356DC -11%, #FF79DA 123%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 300ms;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(352deg, #9356DC -11%, #FF79DA 123%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.btnMenu {
  padding: 16px 50px;
}

.restaurants {
  align-items: unset;
  gap: 18px;
  padding: 55px 17px 65px 17px;
  background-color: #F6F6F6;
}
@media (min-width: 1024px) {
  .restaurants {
    gap: 28px;
    padding: 30px 12.5%;
  }
}
.restaurants__Cards {
  align-items: unset;
  gap: 18px;
}
@media (min-width: 1024px) {
  .restaurants__Cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 9.25%;
    grid-row-gap: 50px;
  }
}
.restaurants__article {
  align-items: end;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.restaurants__article-cardContent {
  justify-content: space-between;
  width: 100%;
  padding: 18px 25px 18px 13px;
}
.restaurants__article-cardContentTxt {
  align-items: unset;
  gap: 5px;
}
.restaurants__article img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 174px;
  object-fit: cover;
}
.restaurants__article-badge {
  padding: 8px 9px 6px 9px;
  border-radius: 2px;
  width: 80px;
  height: 30px;
  text-align: center;
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  transform: translate(-15%, -330%);
}

.infoGroup {
  text-align: center;
  gap: 27px;
  padding: 40px 30px 57px 30px;
  background-color: #F6F6F6;
}
.infoGroup__title {
  padding: 0 17px;
}
@media (min-width: 1024px) {
  .infoGroup {
    padding: 30px 0 30px 0;
  }
}

.fonctionnement {
  align-items: inherit;
  gap: 25px;
  padding: 50px 20px 70px 20px;
}
@media (min-width: 1024px) {
  .fonctionnement {
    padding: 50px 12.5%;
  }
}
@media (min-width: 1024px) {
  .fonctionnement__table {
    width: 100%;
  }
}
.fonctionnement__table tbody {
  gap: 25px;
}
@media (min-width: 1024px) {
  .fonctionnement__table tbody {
    flex-direction: row;
  }
}
.fonctionnement__table tr {
  justify-content: flex-start;
  width: 100%;
  max-width: 322px;
  padding: 28px 33px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement__table-number {
  text-align: center;
  padding-top: 5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFFFFF;
  transform: translateX(-180%);
}
.fonctionnement__table-icon {
  padding-right: 27px;
}

.pageContainer {
  align-items: unset;
}

@media (min-width: 1024px) {
  .mainMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.menuTopImage {
  height: 275px;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.menuRestaurant {
  border-radius: 40px 40px 0 0;
  gap: 40px;
  padding: 30px 13px 40px 13px;
  background-color: #F6F6F6;
  position: relative;
  top: 220px;
}
@media (min-width: 1024px) {
  .menuRestaurant {
    width: 74%;
    padding: 50px 15% 40px 15%;
  }
}
.menuRestaurant__top {
  justify-content: space-between;
  width: 100%;
  padding-right: 25px;
}
@media (min-width: 1024px) {
  .menuRestaurant__top {
    justify-content: center;
    gap: 24px;
  }
}
.menuRestaurant__components {
  align-items: unset;
  width: 100%;
  gap: 12px;
}
.menuRestaurant__components-plateCard {
  align-items: unset;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.menuRestaurant__components-plateCard:hover .menuRestaurant__components-SelectBtn {
  margin-right: 0;
}
.menuRestaurant__components-plateCardContent {
  align-items: unset;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}
.menuRestaurant__components-plateCardDescription {
  align-items: unset;
  gap: 5px;
}
.menuRestaurant__components-plateCardPrice {
  display: flex;
  align-items: flex-end;
  transition: transform 230ms ease-in-out;
}
.menuRestaurant__components-SelectBtn {
  width: 65px;
  margin-right: -65px;
  background: #99E2D0;
  transition: margin-right 230ms ease-in-out;
}
.menuRestaurant__components-title:after {
  content: "";
  display: block;
  width: 12%;
  padding-top: 9px;
  border-bottom: 3px solid #99E2D0;
}
@media (min-width: 1024px) {
  .menuRestaurant__components-title:after {
    width: 6%;
  }
}

.header {
  width: 100%;
}
.header__title {
  width: 100%;
  padding: 14px 89px;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
@media (min-width: 1024px) {
  .header__title {
    padding: 30px 0;
  }
}
.header__form {
  width: 100%;
  padding: 15px 0;
  background-color: #EAEAEA;
}
.header__form input {
  border: none;
  background-color: #EAEAEA;
}

::placeholder {
  color: #353535;
  text-align: center;
}

input:focus {
  outline: none;
}

.headerMenu {
  justify-content: flex-start;
  padding: 14px 17px;
}
@media (min-width: 1024px) {
  .headerMenu {
    padding: 30px 17px;
  }
}
.headerMenu__title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  align-items: unset;
  width: 100%;
  gap: 16px;
  padding: 22px 25px;
  background-color: #353535;
}
@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    padding: 55px 25px 30px 25px;
    justify-content: unset;
  }
}
.footer ul {
  align-items: unset;
  gap: 7px;
}
@media (min-width: 1024px) {
  .footer ul {
    flex-direction: row;
  }
}
.footer svg {
  margin-right: 5px;
}
@media (min-width: 1024px) {
  .footer__title {
    padding-right: 40px;
    padding-left: 70px;
  }
}
@media (min-width: 1024px) {
  .footer li {
    padding-right: 6px;
    padding-left: 6px;
  }
}

.footerMenu {
  position: relative;
  top: 220px;
}

/*# sourceMappingURL=style.css.map */
