
.pageContainer{
    @extend %flex-column;

}

.infoGroup{
    @extend %flex-column;
    text-align: center;
    gap: 27px;
    padding: 40px 30px 57px 30px;
    background-color: $background-main;  

    &__title{
        padding: 0 17px;
    }

    @media (min-width: 1024px) {
        padding: 30px 0 30px 0;
    }
}

.fonctionnement{
    @extend %flex-column;
    align-items: inherit;
    gap: 25px;
    padding: 50px 20px 70px 20px;
    background-color: $background-light;
    
    @media (min-width: 1024px) {
        padding: 50px 12.5%;
    }

    &__table{
        @media (min-width: 1024px) {
            width: 100%;
        }
    }

    &__table tbody{
        @extend %flex-column;
        gap: 25px;

        @media (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__table tr{
        @extend %flex-row;
        justify-content: flex-start;
        width: 100%;
        max-width: 322px;
        padding: 24px 33px;
        border-radius: 20px;
        background-color: $background-main;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    }

    &__table td{
        @extend %flex-row;
    }

    &__table-number{
        text-align: center;
        padding-top: 5px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $main-item-background;
        color: $txt-light;
        transform: translateX(-180%);
    }

    &__table-icon{
        padding-right: 27px;
    }

}

.restaurants{
    @extend %flex-column;
    align-items: unset;
    gap: 18px;
    padding: 55px 17px 65px 17px;
    background-color: $background-main;

    @media (min-width: 1024px) {
        gap: 28px;
        padding: 30px 12.5%;
    }

    &__Cards{
        @extend %flex-column;
        align-items: unset;
        gap: 18px;
        
        @media (min-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(2, minmax(0,1fr));
            grid-column-gap: 9.25%;
            grid-row-gap: 50px;
        }
    }
}


