.pageContainerMenu{
    @extend %flex-column;
    align-items: unset;

}

.mainMenu{
    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.menuTopImage{
    height: 275px;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.menu{
    @extend %flex-column;
    border-radius: 40px 40px 0 0;
    gap: 40px;
    padding: 30px 13px 40px 13px;
    background-color: $background-main;
    position: relative;
    top: 220px;

    @media (min-width: 768px) {
        width: 74%;
        padding: 50px 15% 40px 15%;
    }

    &__top{
        @extend %flex-row;
        justify-content: space-between;
        width: 100%;
        padding-right: 25px;
        
        @media (min-width: 768px) {
            justify-content: center;
            gap: 24px;
            padding: 0;
        }
    }
   
    &__category{
        @extend %flex-column;
        align-items: unset;
        width: 100%;
        gap: 12px;

        /* pour surligner le titre des catégories */
        &-title:after {
            content: ""; 
            display: block; 
            width: 12%;
            padding-top: 9px;
            border-bottom: 3px solid $txt-border; 
    
            @media (min-width: 1025px) {
                width: 6%;
            }
        }              
    }

    &__item{
        &-plateCard{
            @extend %flex-row;
            align-items: unset;
            border-radius: 15px;
            background-color: $background-light;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
            overflow: hidden;

            &:hover{          
                .menu__item-checkBtn{
                    margin-right: 0;
                }
            }
        }

        &-plateCardContent{
            @extend %flex-row;
            align-items: unset;
            justify-content: space-between;
            width: 100%;
            padding: 15px;
            overflow: hidden;
        }
        
        &-plateCardDescription{
            @extend %flex-column;
            align-items: unset;
            gap: 5px;
            width: 100%;
            overflow: hidden;

            & p, & h4{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        &-plateCardPrice{           
            display: flex;
            align-items: flex-end;
            padding-left: 7px;
        }

        &-checkBtn{
            @extend %flex-row;
            flex-shrink: 0;
            width: 59px;
            margin-right: -59px;
            background: $secondary-item-background;
            transition: margin-right 230ms ease-in-out;  
        }
    }   
}


