.pageContainer{
    @extend %flex-column;
    align-items: unset;

}

.mainMenu{
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

.menuTopImage{
    height: 275px;
    width: 100%;
    position: absolute;
    object-fit: cover;

}

.menuRestaurant{
    @extend %flex-column;
    border-radius: 40px 40px 0 0;
    gap: 40px;
    padding: 30px 13px 40px 13px;
    background-color: $background-main;
    position: relative;
    top: 220px;

    @media (min-width: 1024px) {
        width: 74%;
        padding: 50px 215px 40px 215px;
    }

    &__top{
        @extend %flex-row;
        justify-content: space-between;
        width: 100%;
        padding-right: 25px;

        @media (min-width: 1024px) {
            justify-content: center;
            gap: 24px;
        }
    }

    &__components{
        @extend %flex-column;
        align-items: unset;
        width: 100%;
        gap: 12px;

        &-plateCard{
            @extend %flex-row;
            justify-content: space-between;
            align-items: end;
            padding: 15px;
            border-radius: 15px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
        }

        &-plateCardText{
            @extend %flex-column;
            align-items: unset;
            gap: 5px;
        }

        &-titre:after {
            content: ""; 
            display: block; 
            width: 12%;
            padding-top: 9px;
            border-bottom: 3px solid $txt-border; 

            @media (min-width: 1024px) {
                width: 6%;
            }
        }
    }

    
}